.container-general {
    margin-top: 50px;
}

.container {
    background-color: rgb(38, 109, 117);
    padding: 50px;
}

.container-card {
    text-align: center;
}

.container-card>img {
    width: 80%;
}

.color-white {
    color: white;
}

.input-field .prefix~input {
    color: white;
}

.error {
    border: solid 3px #f73131;
}

.success {
    border: solid 3px #46ed3d;
}

.row .input-field {
    margin-left: 75px!important;
    width: 60%!important;
}

.btn {
    margin-left: 100px;
}

.margin-icon {
    margin-top: 10px;
}