.container-general {
    margin-top: 50px;
}

.container {
    background-color: rgb(38, 109, 117);
    padding: 50px;
}

.container-card {
    text-align: center;
}

.container-card>img {
    width: 80%;
}

.color-white {
    color: white;
}

.input-field .prefix~input {
    color: white;
}

.error {
    border: solid 3px #f73131;
}

.success {
    border: solid 3px #46ed3d;
}


/*const alphabeth = ["a","b","c","d","e","f","g","h","i","j","k","l","m","n","ñ","o","p","q","r","s","t","u","v","w","x","y","z"];*/